body {
  background-color: #d6e1ef;
}

.container {
  background-color: white;
  margin: 60px auto;
  padding: 20px 20px 50px;
  max-width: 290px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(90, 90, 90, 0.082);
  font-family: "Outfit", sans-serif;
  text-align: center;
}

h1 {
  font-size: 23px;
  font-weight: 900;
  color: #273249;
}

p {
  font-size: 15px;
  font-weight: 400;
  padding: 5px 10px 5px;
  color: #86898d;
}

img {
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 40px auto;
    max-width: 350px;
  }
}
